*{
    font-family: calibri;
}

.container{
    border-radius: 10px;
}

body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img{
    cursor: pointer;
    height: 200px;
    width: 200px;
    object-fit: cover;
    padding-left: 10px;
    transition: transform(1.3s,ease);
    margin: 5px;
    border-radius: 10px;
}


img:hover{
    transform: scale(1.1);
}

h1,p{
    margin: 0;
}

.round{
    border-radius: 10px;
}

.center{
    text-align: center;
    display: block;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 10px;
}