*{
    font-family: calibri;
}

.container{
    border-radius: 10px;
}

img{
    cursor: pointer;
    height: 200px;
    width: 200px;
    object-fit: cover;
    padding-left: 10px;
    transition: transform(1.3s,ease);
    margin: 5px;
    border-radius: 10px;
}


img:hover{
    transform: scale(1.1);
}

h1,p{
    margin: 0;
}

.round{
    border-radius: 10px;
}

.center{
    text-align: center;
    display: block;
}

.container{
    padding: 80px;
    text-align: center;
}